<div class="contact-form-container">
    <form class="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" >
        <div>
            <input class="form-bot-field" name="bot-field"/>
        </div>
        <div>
            <!-- <label>Your Name: <input type="text" name="name" /></label> -->
            <input class="form-element" type="text" name="name" placeholder="First & Last Name"/>
        </div>
        <div>
            <!-- <label>Your Email: <input type="email" name="email" /></label> -->
            <input class="form-element" type="email" name="email" placeholder="Email Address"/>

        </div>
        <div>
            <!-- <label>Message: <textarea name="message"></textarea></label> -->
            <textarea class="form-element form-message" name="message" placeholder="Message"></textarea>

        </div>
        <div>
            <button class="form-send" type="submit">Send Now</button>
        </div>
        <div></div>
    </form>
</div>