<div class="main">
    <div class="background" id="about"></div>
    <div class="sticky background-header" id="about-header">
        <a href="#about">About Me</a>
    </div>

    <div class="content-wrapper">
        <div class="text-content">
            <img id="about-pic" src="images/iris.jpg">
            <h2>Hi there! 👋🏼 My name is Iris.</h2>
            <p>
                I'm
                <script type="text/javascript">
                    function _calculateAge(birthday) { // birthday is a date
                        var ageDifMs = Date.now() - birthday.getTime();
                        var ageDate = new Date(ageDifMs); // miliseconds from epoch
                        return Math.abs(ageDate.getUTCFullYear() - 1970);
                    }
                    document.write(_calculateAge(new Date(1993, 9, 10)));
                </script>
                years old, currently live in Seattle, and work as a Vice President of Data Science and Engineering.
            </p>
            <p>This is a website I built for myself during my free time outside work - mostly as a way to learn some web
                design and mess around with techniques I'm curious about. I've always been interested in
                "scrollytelling", and as such, my site incorporates a lot of scrolling events and the like. </p>
            <p>I didn't want my "About Me" to be an endless rant about my entire life story displayed in a wall of text,
                so I built a little visual aid...</p>
            <h3>Scroll down and check it out</h3>
        </div>

        <!-- Waypoints & Sticky Positioning -->
        <div class="sticky-content">
            <div class="sticky-graph" id="aboutme-geo-map"></div>
            <div class="graph-info">
                <div class="padding"></div>
                <div class="info-text">
                    <div id="map-loc--1">I've lived in the United States all my life.</div>
                </div>
                <div class="info-text">
                    <div id="map-loc-0">
                        I grew up in a suburb outside of Los Angeles called Chino Hills. I attended kindergarten through
                        high school here.
                    </div>
                </div>
                <div class="info-text">
                    <div id="map-loc-1">
                        After graduating from high school, I didn't go very far to attend college. I moved to Claremont, CA
                        - a mere twenty minute drive from my hometown - and attended Scripps College.
                        <br>
                        I graduated in May, 2015 with a B.A. in Computational Neuroscience.
                        <br><br>
                        During my time at Scripps, I worked as a Research Assistant for the Decision Neuroscience Lab at
                        Claremont McKenna College. It was here that I was exposed to electroencephalography and data
                        analysis on brain wave data. My senior thesis was titled "Time-Frequency Analysis of Neural
                        Oscillations in Multi-Attribute Decision Making".
                    </div>
                </div>
                <div class="info-text">
                    <div id="map-loc-2">
                        I moved to San Francisco soon after graduating from Scripps and began my first job at SOASTA working
                        as a Data Scientist. A few years after I joined the company, Akamai acquired SOASTA. In spring of
                        2018, I left Akamai and joined conDati.
                    </div>
                </div>
                <div class="info-text">
                    <div id="map-loc-3">
                        After living in S.F. for 3 years my s.o. and I decided on a whim to move to Seattle during summer of
                        2018. We're still living here now, and spend our free time exploring all nature has to offer! I also
                        picked up wheelthrowing and continue to knit, practice yoga, cook, and explore the new city.
                    </div>
                </div>
                <div class="padding"></div>
            </div>
        </div>

        <div class="sticky-content">
            <div class="sticky-text">
                <div>
                    If I'm not working, I prefer to spend my time cooking/eating/baking (I ♥️ food!), traveling, or
                    playing piano. As a kid, my parents made sure my sister and I were well-travelled and willing to try
                    new foods, experiences, and cultures.
                    <br><br>
                    These are some photos taken over the years of my travels and culinary experiments.
                </div>
            </div>
            <div>
                <div class="padding"></div>
                <img class="travel-images" src="images/travels/DSC07348.JPG">
                <img class="travel-images" src="images/travels/DSC08939.JPG">
                <img class="travel-images" src="images/travels/IMG_0043.jpg">
                <!-- <img class="travel-images" src="images/travels/IMG_0086.jpg"> -->
                <!-- <img class="travel-images" src="images/travels/IMG_0206.jpg"> -->
                <img class="travel-images" src="images/travels/IMG_6161.jpg">
                <img class="travel-images" src="images/travels/IMG_6635.jpg">
                <!-- <img class="travel-images" src="images/travels/IMG_6640.jpg"> -->
                <img class="travel-images" src="images/travels/IMG_6835.jpg">
                <img class="travel-images" src="images/travels/IMG_7573.JPG">
                <img class="travel-images" src="images/travels/IMG_7581.jpg">
                <!-- <img class="travel-images" src="images/travels/IMG_7624.jpg"> -->
                <img class="travel-images" src="images/travels/IMG_8236.JPG">
                <img class="travel-images" src="images/foods/IMG_5880.jpg">
                <img class="travel-images" src="images/foods/IMG_7887.jpg">
                <img class="travel-images" src="images/foods/IMG_3076.JPG">
                <img class="travel-images" src="images/foods/IMG_8287.jpg">
                <div class="padding"></div>
            </div>
        </div>
    </div>
</div>