<div class="main">
    <div class="background" id="contact"></div>
    <div class="sticky background-header" id="contact-header">
        <a href="#contact">Contact</a>
    </div>

    <div class="content-wrapper">
        <div class="text-content">
            <div class="contact-area">
                <div class="contact-info-container">
                    <div class="contact-info">
                        <h2 style="text-align: center;">Let's connect!</h2>
                        <img id="contact-pic" src="/images/iris_2.jpg">
                        <div class="icons">
                            <a href="{{ .Site.Params.linkedin }}" target="_blank" class="fa fa-linkedin"></a>
                            <a href="{{ .Site.Params.github }}" target="_blank" class="fa fa-github"></a>
                            <a href="{{ .Site.Params.twitter }}" target="_blank" class="fa fa-twitter"></a>
                            <a href="{{ .Site.Params.instagram }}" target="_blank" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                {{ partial "contact-form.html" . }}
            </div>
        </div>
    </div>
</div>