<div class="main">
    <div class="background" id="intro"></div>
    <div class="sticky background-header" id="main-header">
        <a href="#intro">Iris Lieuw</a>
    </div>
    <div class="content-wrapper">
        <div class="text-content">
            <h1>Welcome!</h1>
            <p>Thanks for visiting my page! This is a personal website for me to mess around with stuff and for you to
                get to know me a little! Everything on here is a work in progress, so please don't be surprised (or
                appalled) if bits and pieces are buggy.</p>
            <p>I built and designed everything on this site and had a lot of fun doing it. Hope you enjoy scrolling
                through.</p>
            <p>Who knows, one day I may turn this into a blog; keep an eye out! ✌🏽</p>
        </div>
    </div>
</div>